#my-chart {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  #animations-example .column td {
    animation: jumping-bars 3s linear infinite;
  }
  #animations-example .column tr:nth-of-type(even) td {
    animation-delay: 300ms;
  }
  @keyframes jumping-bars {
    0% { transform: translateY(   0px ); }
    2% { transform: translateY( -10px ); }
    4% { transform: translateY(   0px ); }
  }